@import '../../../style/global.less';

.ticket {
	display: flex;
	flex-direction: column;

	padding: 0.5rem;
	margin-bottom: 1rem;
	// height: fit-content; Managed by JS
	width: 20rem;

	background-color: #fff;
	border-radius: 0.35rem;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 2px 2px 0px #ccc;

	transition: 50ms transform;

	.labels {
		display: flex;

		.label {
			padding: 1% 2%;
			margin-right: 2%;
			width: fit-content;

			border-radius: 0.5rem;
			font-weight: bold;
			color: #fff;
		}

		.label:hover {
			cursor: pointer;
		}
	}

	.title {
		margin: 1%;
	}

	.info {
		margin: 1%;
	}
}

.ticket:hover {
	cursor: pointer;

	background-color: #f0f0f0;
}

.ticket.dragged:hover {
	cursor: grab;

	position: absolute;

	margin-bottom: 0;

	background-color: #fafafa;

	transform: rotateZ(-5deg);

	z-index: @zSuper;
}

#placeholder {
	width: 20rem;

	background-color: #cfcfcf;
	border-radius: 0.35rem;
	border: 0.2rem dashed #bfbfbf;

	box-shadow: none;
}
